.keyboard {
    opacity: 0 !important;
    outline: none !important;
    position: fixed;
    bottom: -177px;
    height: 180px;
    left: 50%;
    background-color: #444444;
    transition: all 0.6s;
    border-radius: 7px;
    z-index: 9999999999999;
    border: 1px solid #313131;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.95);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.95);
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.95);
}
.keyboard button{
    height: 50px;
    width: 50px;
    background-color: #3333;
    border: 3px solid rgba(64, 64, 64, 0.2);
    font-size: 22px;
    cursor: pointer;
    outline: none !important;
    margin-left: 5px;
    margin-top: 5px;
    padding: 0px;
    border-radius: 6px;
}
.keyboard button:hover {
    background: #4f4f4f !important;
    opacity: 0.8;
}
.keyboard-close-btn{
    background-color: red !important;
    color: #fff;
}
.keyboard-active{
    opacity: 1 !important;
    display: block;
    bottom:10px;
    opacity:1;
}
.keyboard-text{
    width: 1100px;
    margin-left: -525px;
}
.keyboard-number{
    width: 292px;
    margin-left: -128px;
}
.keyboard-btn-is-clicked{
    background-color: #2aff44 !important;
}
.keyboard-up button {
    text-transform: capitalize;
}

@media only screen and (max-width: 1440px) {
	.keyboard-text {
		width: 1100px;
		margin-left: -549px;
		transform: scale(0.90);
	}
}